<div class="bingo-nav__title">EmberConf Bingo</div>
<ul class="bingo-nav__tabs">
  {{link-to 'Bingo' 'index' classNames='bingo-nav__tab'}}
  {{link-to 'Schedule' 'schedule' classNames='bingo-nav__tab'}}
  {{link-to 'Speakers' 'speakers' classNames='bingo-nav__tab'}}
</ul>