{{bingo-board
    spaces=model.bingotargets
    speakers=model.speakers}}


<a href='https://mike.works' class="text-center logo-row">
  <img src="/img/mikeworks.png" alt="Mike.Works Developer Training">
  <caption>We turn brilliant developers into seasoned experts.</caption>
</a>